 <div style="padding-top:2px;" class="division">
    <!--h4>下单商品分析</h4-->
    <table  class="gridlist" width="100%" cellspacing="0" cellpadding="0" border="0">
        <thead>
            <tr>
                <th>商品SKU</th>
                <th>商品名称</th>
                <th>销售商品数量</th>
                <th>销售商品总额</th>
                <th>下单数</th>
                <th>下单人数</th>
                <th>付款订单数</th>
                <th>付款人数</th>
        </thead>
        <tbody>
        <{foreach from=$data item=item key=key}>
            <tr>
                <td><{$item.outer_id}></td>
                <td><{$item.name}></td>
                <td><{$item.TotalGoods}></td>
                <td><{$item.TotalAmount}></td>
                <td><{$item.TotalOrders}></td>
                <td><{$item.TotalMembers}></td>
                <td><{$item.PayOrders}></td>
                <td><{$item.PayMembers}></td>
            </tr>
        <{/foreach}>
        </tbody>
    </table>
</div>