 <div style="padding-top:2px;" class="division">
	<h4>营销活动评估</h4>
	    <table  class="gridlist" width="100%" cellspacing="0" cellpadding="0" border="0">
	        <thead>
	            <tr>   
	                <th>名称</th>
	                <th>参与活动客户数</th>
	                <th>下单人数</th>
	                <th>付款人数</th>
	                <th>交易完成人数</th>
	                <th>回头客比率</th>
	                <th>付款金额</th>
	                <th>执行时间</th>
	                <th>结束时间</th>
	                <th>标题</th>
	            </tr>
	        </thead>
	        <tbody>
            <{if $assess_data.is_control == 1}>
            <tr>
                <td>对照组</td>
                <td><{if $assess_data.control_members_res.acmembers}><{$assess_data.control_members_res.acmembers}><{else}>-<{/if}>
                     <{if $assess_data.control_members_res.acmembers>0}>
                        <a onclick="show_members('&filter_type=active&active_id=<{$assess_data.active_id}>&shop_id=<{$assess_data.shop_id}>&flag=all&is_compare=2')" href="###">
                         <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
                        </a>
                    <{/if}>
                </td>
                 <td>
                    <{if $assess_data.control_members_res.ordernums}><{$assess_data.control_members_res.ordernums}><{else}>-<{/if}>
                     <{if $assess_data.control_members_res.ordernums>0}>
                        <a onclick="show_members('&filter_type=active&active_id=<{$assess_data.active_id}>&shop_id=<{$assess_data.shop_id}>&flag=buy&is_compare=2')" href="###">
                         <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
                        </a>
                    <{/if}>
                 </td>
                 <td><{if $assess_data.control_members_res.apaynums}><{$assess_data.control_members_res.apaynums}><{else}>-<{/if}>
                    <{if $assess_data.control_members_res.apaynums}>
                         <a onclick="show_members('&filter_type=active&active_id=<{$assess_data.active_id}>&shop_id=<{$assess_data.shop_id}>&flag=paid&is_compare=2')" href="###">
                         <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
                        </a>
                    <{/if}>
                </td>
                 <td><{if $assess_data.control_members_res.afinish_members}><{$assess_data.control_members_res.afinish_members}><{else}>-<{/if}>
                    <{if $assess_data.control_members_res.afinish_members>0}>
                        <a onclick="show_members('&filter_type=active&active_id=<{$assess_data.active_id}>&shop_id=<{$assess_data.shop_id}>&flag=finish&is_compare=2')" href="###">
                         <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
                        </a>
                    <{/if}>
                 </td>
                <td><{$assess_data.control_members_res.aratio}>%</td>
                <td>￥<{$assess_data.control_members_res.asale_money}></td>
                <td><{$assess_data.exec_time}></td>
                <td><{if $assess_data.end_time}><{$assess_data.end_time}><{else}>-<{/if}></td>
                <td>-</td>
            </tr>
            <{/if}>
            
             <{assign var=active_member_status value=0}>
            <!--start 不是AB对照  -->
            <{if $assess_data.is_control == 1}>
	            <{assign var=active_member_status value=1}>
	        <{else}>
	            <{if $assess_data.active_members_res_b != ''}>
	             <{assign var=active_member_status value=1}>
	            <{/if}>
            <{/if}>
            <!--end 不是AB对照  -->
            
	        <tr>
	        	<td>
	        	<{if $assess_data.active_members_res.sms_info.template_edm_id > 0}>
	        	邮件组
	        	<{else}>
	        	 短信A组
	        	<{/if}>
	        	</td>
		        <td><{if $assess_data.active_members_res.acmembers}>
		        <{$assess_data.active_members_res.acmembers}>
		        <{else}>-<{/if}>
		         <{if $assess_data.active_members_res.acmembers>0}>
		        <a onclick="show_members('&filter_type=active&active_id=<{$assess_data.active_id}>&shop_id=<{$assess_data.shop_id}>&flag=all&is_compare=<{$active_member_status}>')" href="###">
	             <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
	            </a>
	            <{/if}>
		        </td>
		        <td><{if $assess_data.active_members_res.ordernums}><{$assess_data.active_members_res.ordernums}><{else}>-<{/if}>
			       	<{if $assess_data.active_members_res.ordernums>0}>
				        <a onclick="show_members('&filter_type=active&active_id=<{$assess_data.active_id}>&shop_id=<{$assess_data.shop_id}>&flag=buy&is_compare=<{$active_member_status}>')" href="###">
			             <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
			            </a>
		            <{/if}>
		        </td>
		        <td><{if $assess_data.active_members_res.apaynums}><{$assess_data.active_members_res.apaynums}><{else}>-<{/if}>
		        	<{if $assess_data.active_members_res.apaynums>0}>
		        	 <a onclick="show_members('&filter_type=active&active_id=<{$assess_data.active_id}>&shop_id=<{$assess_data.shop_id}>&flag=paid&is_compare=<{$active_member_status}>')" href="###">
			             <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
			         </a>
		        	<{/if}>
		        </td>
		        <td><{if $assess_data.active_members_res.afinish_members}><{$assess_data.active_members_res.afinish_members}><{else}>-<{/if}>
			        <{if $assess_data.active_members_res.afinish_members>0}>
			        <a onclick="show_members('&filter_type=active&active_id=<{$assess_data.active_id}>&shop_id=<{$assess_data.shop_id}>&flag=finish&is_compare=<{$active_member_status}>')" href="###">
			             <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
			         </a>
			        <{/if}>
		        
		        </td>
		        <td><{$assess_data.active_members_res.aratio}>%</td>
		        <td>￥<{$assess_data.active_members_res.asale_money}></td>
		        <td><{$assess_data.exec_time}></td>
		        <td><{if $assess_data.end_time}><{$assess_data.end_time}><{else}>-<{/if}></td>
		        <td title="<{$assess_data.active_members_res.sms_info.templete}>"><span><{$assess_data.active_members_res.sms_info.templete_title}></span></td>
		    </tr>
		    
		    
		    <{if $assess_data.active_members_res_b != ''}>
            <tr>
                <td>短信B组</td>
                <td><{if $assess_data.active_members_res_b.acmembers}>
                <{$assess_data.active_members_res_b.acmembers}>
                <{else}>-<{/if}>
                 <{if $assess_data.active_members_res_b.acmembers>0}>
                <a onclick="show_members('&filter_type=active&active_id=<{$assess_data.active_id}>&shop_id=<{$assess_data.shop_id}>&flag=all&is_compare=3')" href="###">
                 <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
                </a>
                <{/if}>
                </td>
                <td><{if $assess_data.active_members_res_b.ordernums}><{$assess_data.active_members_res_b.ordernums}><{else}>-<{/if}>
                    <{if $assess_data.active_members_res_b.ordernums>0}>
                        <a onclick="show_members('&filter_type=active&active_id=<{$assess_data.active_id}>&shop_id=<{$assess_data.shop_id}>&flag=buy&is_compare=3')" href="###">
                         <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
                        </a>
                    <{/if}>
                </td>
                <td><{if $assess_data.active_members_res_b.apaynums}><{$assess_data.active_members_res_b.apaynums}><{else}>-<{/if}>
                    <{if $assess_data.active_members_res_b.apaynums>0}>
                     <a onclick="show_members('&filter_type=active&active_id=<{$assess_data.active_id}>&shop_id=<{$assess_data.shop_id}>&flag=paid&is_compare=3')" href="###">
                         <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
                     </a>
                    <{/if}>
                </td>
                <td><{if $assess_data.active_members_res_b.afinish_members}><{$assess_data.active_members_res_b.afinish_members}><{else}>-<{/if}>
                    <{if $assess_data.active_members_res_b.afinish_members>0}>
                    <a onclick="show_members('&filter_type=active&active_id=<{$assess_data.active_id}>&shop_id=<{$assess_data.shop_id}>&flag=finish&is_compare=3')" href="###">
                         <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
                     </a>
                    <{/if}>
                
                </td>
                <td><{$assess_data.active_members_res_b.aratio}>%</td>
                <td>￥<{$assess_data.active_members_res_b.asale_money}></td>
                <td><{$assess_data.exec_time}></td>
                <td><{if $assess_data.end_time}><{$assess_data.end_time}><{else}>-<{/if}></td>
                <td title="<{$assess_data.active_members_res_b.sms_info.templete}>" ><span><{$assess_data.active_members_res_b.sms_info.templete_title}></span></td>
            </tr>
		    <{/if}>
	     </tbody>
	    </table>
</div>

<script>
function show_members(murl){
    murl = 'index.php?app=taocrm&ctl=admin_member_report&act=index'+murl;
    var url='index.php?app=desktop&act=alertpages&goto='+encodeURIComponent(murl);
    Ex_Loader('modedialog',function() {
        new finderDialog(url,{width:1000,height:660});
    });
}
</script>

