<div id="exec_div">
    
    <table>
        <tr>
            <th width="20%">店铺： </th>
            <td width="80%" id="final_shop_name"><{$active.shop_name}></td>
        </tr>
        <tr>
            <th>活动名称：</th><td id="final_active_name"><{$active.active_name}></td>
        </tr>
        <tr id="final_template_name_tr" <{if(!$active.template_name)}>style="display:none"<{/if}>>
            <th>短信模板A：</th><td id="final_template_name"><{$active.template_name}></td>
        </tr>
        <tr id="final_template_name_tr_b" <{if(!$active.template_name_b)}>style="display:none"<{/if}>>
            <th>短信模板B：</th><td id="final_template_name_b"><{$active.template_name_b}></td>
        </tr>
        <tr id="edm_final_template_name_tr" <{if(!$active.edm_template_name)}>style="display:none"<{/if}>>
            <th>EDM模板：</th><td id="edm_final_template_name"><{$active.edm_template_name}></td>
        </tr>
        
        <!--短信发送清单：-->
        <tr id="el_send_sms_list" style="display: none;">
            <th>短信发送清单：</th>
			<td  id="sms_total_num">
			您选择的客户数：<span id="el_select_sms_membernums"><{$activityMemberNums.total_member_count}></span><br />
            有效客户数：<span id="el_vaild_sms_membernums"><{$activityMemberNums.valid_member_count}></span><br />
            无效客户数：<span style="color:#ff0000" id="el_unvaild_sms_membernums"><{$activityMemberNums.unvalid_member_count}></span><br />
            当天已营销客户数：<span style="color:#ff0000" id="el_sent_sms_membernums"><{$activityMemberNums.sent_member_count}></span>
                &nbsp;&nbsp;是否发送:
                <label><input type="radio" name="sent_member_sms" value="1" checked>是</label>
                <label><input type="radio" name="sent_member_sms" value="0">否</label>
            <br />
            当前共待发送客户数：<span id="el_reality_sms_membernums"><{$activityMemberNums.valid_member_count}></span><br />
            <span id="active_group_member"></span>
            <span id="sms_compare_tips"></span>
            </td>
        </tr>
        
        <!--邮件发送清单：-->
		<tr id="el_send_edm_list" style="display: none;">
            <th>邮件发送清单：</th>
			<td  id="edm_total_num">
			您选择的客户数：<span id="el_select_edm_membernums"><{$activityMemberNums.total_member_count}></span><br />
            有效客户数：<span id="el_vaild_edm_membernums"><{$activityMemberNums.valid_member_count}></span><br />
            无效客户数：<span style="color:#ff0000" id="el_unvaild_edm_membernums"><{$activityMemberNums.unvalid_member_count}></span><br />
            当天已营销客户数：<span style="color:#ff0000" id="el_sent_edm_membernums"><{$activityMemberNums.sent_member_count}></span>
                &nbsp;&nbsp;是否发送:
                <label><input type="radio" name="sent_member_edm" value="1" checked>是</label>
                <label><input type="radio" name="sent_member_edm" value="0">否</label>
            <br />
            当前共待发送客户数：<span id="el_reality_edm_membernums"><{$activityMemberNums.valid_member_count}></span><br />
            </td>
        </tr>
        <tr id="el_send_sms_no" style="display:none" colspan="2"><td>没有需要发送的短信</td></tr>
		<tr id="el_send_edm_no" style="display:none" colspan="2"><td>没有需要发送的邮件</td></tr>
        <tr id="el_send_sms_nt7" style="display:none" ><td colspan="2">(备注:单条短信超过67个字符,可能会被拆分成两条短信)</td></tr>
    </table>
    
    <div id='sms_send_id' class="table-action" style="text-align:center;padding:5px 0;">
        <{button label="<< 上一步" id="exec_up_btn" class="btn-primary"}> 
        <{button label="发送" type="button" id="exec_btn" class="btn-primary"}>
        <{button label="关闭" type="button" id="sms_close_btn" class="btn-primary nodisabled"}>
    </div>
    
    <p id="loading_bar" style="display:none;text-align:center;color:#4B5F87">
        <br/><br/>
        正在执行，请耐心等待…… 
        <br/><img src="<{$env.app.res_url}>/loading42.gif" />
    </p>
    
    <div id="sms_info_content" style="display: none;">
        <p><span style="color:red;" id="difpice"></span></p>
        <p>
            <a href="index.php?app=market&ctl=admin_sms_account&act=index" target="_top">
                <{button label="去充值>>" type="button" id="" class="btn-primary"}>
            </a>
        </p>
    </div>  
		
</div>
<script>

//执行
 var page_size = 1000;
 var page = 0;
 var sendType_val = '';
 
 (function(){
 
	 var sendType = JSON.decode('<{$actity_type}>');
	 if(sendType.contains('sms')){
        sendType_val = 'sms';
        $('el_send_sms_list').show();
        $('el_send_sms_no').hide();
        $('el_send_edm_no').hide();
        $('exec_btn').show();
     }
	 
     var isActive = '<{$active.is_active}>';
     if (isActive == 'wait_exec' && sendType_val == 'sms') {
         var templateIdb = parseInt('<{$active.template_id_b}>');
         var validMemberCount = parseInt('<{$activityMemberNums.valid_member_count}>');
         if (templateIdb > 0) {
            $('final_template_name_tr_b').show();
            $('final_template_name_b').set('html', '<{$active.templete_title_b}>');
            $('sms_compare_tips').set('html','活动短信对照组：A模板人数：' + Math.ceil(validMemberCount / 2) +
                                                            "&nbsp;&nbsp;&nbsp;B模板人数：" + (validMemberCount - Math.ceil(validMemberCount / 2)));
         }
         else {
           $('sms_compare_tips').set('html','活动短信对照组：A模板人数：' + validMemberCount);
         }
     }
     
	 if(sendType.contains('edm')){
        sendType_val = 'edm';
        $('el_send_edm_list').show();
        $('el_send_sms_no').hide();
        $('el_send_edm_no').hide();
        $('exec_btn').show();
     }

    if(!sendType_val) sendType_val = $('send_method').value;
     
    var els = $ES('input[type=radio]',$(sendType_val+'total_num'));
	els.each(function(el){
		 el.addEvent('click',function(){
			 var valid_member_count = parseInt($('el_vaild_'+sendType_val+'_membernums').get('text'));
			 var sent_membernums = parseInt($('el_sent_'+sendType_val+'_membernums').get('text'));
			 var memberNums;
			 if(el.checked && el.value == 1){
				    $('el_reality_'+sendType_val+'_membernums').set('text',valid_member_count);
				    memberNums = valid_member_count
			 }else{
				 $('el_reality_'+sendType_val+'_membernums').set('text',valid_member_count-sent_membernums);
				 memberNums = valid_member_count-sent_membernums;
			 }
             if (isActive == 'wait_exec' && sendType_val == 'sms') {
                 if (templateIdb > 0) {
                     $('sms_compare_tips').set('html','活动短信对照组：A模板人数：' + Math.ceil(memberNums / 2) +
                             "&nbsp;&nbsp;&nbsp;B模板人数：" + (memberNums - Math.ceil(memberNums / 2)));
                 }
                 else {
                    $('sms_compare_tips').set('html','活动短信对照组：A模板人数：' + memberNums);
                 }
              }
             else if(sendType_val == 'sms') {
                  var b_content = $('final_template_name_b').get('html');
                  if (b_content != '') {
                      $('sms_compare_tips').set('html','活动短信对照组：A模板人数：' + Math.ceil(memberNums / 2) +
                              "&nbsp;&nbsp;&nbsp;B模板人数：" + (memberNums - Math.ceil(memberNums / 2)));
                  } 
                  else {
                     $('sms_compare_tips').set('html','活动短信对照组：A模板人数：' + memberNums);
                  }
             }
			 showExecBtn();
		 });
	 });
 })();
 
 showExecBtn();
 function showExecBtn(){
	 var reality_membernums = parseInt($('el_reality_'+sendType_val+'_membernums').get('text'));
	 if(reality_membernums <= 0 ){
		 $('exec_btn').hide();
	 }else{
		 $('exec_btn').show();
	 }
 }
 
 
 var is_send_salemember;
 function test(){
	 $('sms_send_id').hide();
     $('loading_bar').show(); 
     run_send_func(0);      
     $('active_id').hide();
     $('select_me').hide();
     $('select_sms_template').hide();
     $('exec_div').show();
     return true;
 }

 $$("#exec_btn").addEvent('click',function(){
	 /*
	 var active_id = $('active_id_id').value;
     var data={'active_id':active_id};
     new Request({
         url : 'index.php?app=market&ctl=admin_active&act=get_legal',
         method : 'post',
         data:data,
         onSuccess:function(responseText){
        	//alert(responseText);
            if(responseText == 1){
                new Dialog('index.php?app=market&ctl=admin_active&act=legal_notice&active_id='+active_id,{width:350,height:120,title:'发送提醒'});
            }else if(responseText == 2){
            	new Dialog('index.php?app=market&ctl=admin_active&act=legal_copy',{width:650,height:350,title:'条款条件'});
            }else{
            	test();
            }
         }
     }).send();
     */
     $ES('input[name=sent_member_'+sendType_val+']').each(function(el){
    	 if(el.checked){
    		 is_send_salemember = el.value;
    	 }
     });
     test();
});

//分页执行
function run_send_func(page){
    var send_method = $('send_method').value=='edm'? 'edm_exec':'sms_exec';
	/*
	var re = /^[0-9]+.?[0-9]*$/;
    var num = $('el_vaild_'+sendType_val+'_membernums').get('text') ;
    if (!re.test(num))
    {
	    num = 0;
    }else{
	    num = parseInt(num);
	}
	if ($('send_method').value=='edm' && num <= 0)
	{
	    alert("有效客户数为0");
		return false;
	}
	*/
    new Request({
        url : 'index.php?app=market&ctl=admin_active&act='+send_method+'&p[0]='+$('active_id_id').value,
        method : 'post',
        update : $('coupon_id'),
        data:{'exec_tag':'exec','page':page,'is_send_salemember':is_send_salemember},
        onSuccess:function(responseText){      
		    //alert(responseText);
			//return false;
            try{
                var data = JSON.decode(responseText);
                
                if(data.res == 'fail'){
                     alert(data.msg);
                     $('loading_bar').hide();
                     $('sms_send_id').show();
                     //$('exec_btn').hide();
                     //$('exec_up_btn').hide();
                     return false;
                }else if(data.res == 'balance_less'){
                     alert(data.msg);
                     $('loading_bar').hide();
                     $("difpice").set('html',"您的账号可用余额不足请充值");
                     $('sms_info_content').show();
                     return false;
                }else{
                    $('loading_bar').hide();
                    $('sms_send_id').show();
                    $('exec_btn').hide();
                    $('exec_up_btn').hide();
					alert("提交成功，短信/邮件发送需要一点时间，请耐心等待。");
                    
                }
                return false;
                
                page++;
                var total_page = parseInt(data.selemem/1000)+1;
                $('percent').set('html',parseInt(page*100/total_page));
                $('total_count').set('html',data.selemem);
                if(page<total_page) {
                    run_send_func(page);
                }else{
                    $('loading_bar').hide();
                    $('sms_send_id').show();
                    $('exec_btn').hide();
                    $('exec_up_btn').hide();
                    alert("提交成功，短信/邮件发送需要一点时间，请耐心等待。"); 
                }
            }catch(e){
                //alert(responseText);
                $('loading_bar').hide();
                $('sms_send_id').show();
                $('exec_btn').hide();
                $('exec_up_btn').hide();
                alert("服务器发生了内部错误:"+responseText); 
            }
        }
    }).send();
}
</script>