<app>
    <name>后端系统订单数据系统</name>
    <description>对后端系统的订单数据提供支持，目前数据来源只提供对矩阵的支持</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>0.1</version>
    <license>shopex license</license>

    <depends>
        <app>dbeav</app>
		<app>ectools</app>
    </depends>

</app>