<div class="tableform">
    <form id="tmpl_form" action="index.php?app=market&ctl=admin_edm_email&act=save" method="post" >
        <table>
            <tr>
                <th width="30%">模板分类名称:</th>
                 <{input type=hidden value=$data.type_id name="type_id"}>
                <td width="70%"><input type="text" name="title" id="title" value="<{$data.title}>" /></td>
            </tr>
            <tr>
                <th>模板分类备注:</th>
                <td><textarea rows="5" cols="40" name="description" id="description"><{$data.remark}></textarea></td>
            </tr>
        </table>
    </form>
</div>



<{area inject='.mainFoot'}>
<div class="table-action">
    <{button type="button" label="保存" id="editThemeGroup"}>
</div>
<{/area}>

<script type="text/javascript">
(function(){
    var _form = $('tmpl_form');
    var btn =$('editThemeGroup');
    var finder = finderGroup['<{$env.get._finder.finder_id}>'];
    
   
    
    _form.store('target',{
        onSuccess:function(response){
            var hash_res_obj = JSON.decode(response);
         
          if (hash_res_obj.success != undefined && hash_res_obj.success != "")
            {
                try{
                    var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                }catch(e){}
                
                if(_dialogIns)
                {   
                    _dialogIns.close();
                    window.finderGroup['<{$env.get._finder.finder_id}>'].refresh();
                }
            }
            
        }
    });
    
    
    
    
    btn.addEvent('click',function() {
    	var validate='true';
    	if ($('title').value == '') {
    		alert('请输入模板分类名称');
    	}
    	else if ($('description').value == '') {
    		alert('请输入模板分类备注');
    	}
    	if (validate) {
    		_form.fireEvent('submit',{stop:$empty});
    	}	    
    });
    
})();
</script>