/*************@descrip 网站通用类**************/

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix {
  display: block; }

.clearfix:after {
  clear: both;
  display: block;
  content: "";
  visibility: hidden;
  font-size: 0;
  height: 0; }

/*************@descrip 字体大小**************/
.f12 {
	font-size: 12px!important;
}

.f14 {
	font-size: 14px!important;
}

.f20 {
	font-size: 20px!important;
}


/*************@descrip 字体颜色**************/

.cf00 {
	color: #F00;} /* 红色 */

.c959 {
	color: #959595; /* 灰色 */
}

.ff7 {
	color: #FF7F00;} /* 黄色 */

.c00 {
	color: #000;} /* 黑色 */

.bb6 {
	color: #478BB6!important;} /* 蓝色 */



/*************@descrip 定位和边框**************/
.pr {
	position: relative;}

.pa {
	position: absolute;}

.bor {
	border: 1px solid #DDD;
}

.bortop {
	border-top: 1px solid #DDD;
}

.top0 {
	top: 0!important;
}

.txtac {
	text-align: center;
}


/*************@descrip 内外边距**************/

.ml2 {
	margin-left: 2px;}

.ml8 {
	margin-left: 8px;}

.ml10 {
	margin-left: 10px;}

.ml30 {
	margin-left: 30px;}

.mt4 {
	margin-top: 4px;}

.mt5 {
	margin-top: 5px;}

.mt15 {
	margin-top: 15px;}

.mt18 {
	margin-top: 18px;}

.mt20 {
	margin-top: 20px;}

.mt22 {
	margin-top: 22px;}

.mt25 {
	margin-top: 25px;}

.mt10 {
	margin-top: 10px;}

.mt12 {
	margin-top: 12px;}

.mb5 {
	margin-bottom: 5px;}

.mb10 {
	margin-bottom: 10px;}

.mb15 {
	margin-bottom: 15px;}

.mb18 {
	margin-bottom: 18px;}

.mb20 {
	margin-bottom: 20px;}

.mb25 {
	margin-bottom: 25px;}

.mb13 {
	margin-bottom: 13px;}

.mb12 {
	margin-bottom: 12px;}

.mr8 {
	margin-right: 8px;}

.mr10 {
	margin-right: 10px;
}

.pl12 {
	padding-left: 12px;}

.pl14 {
	padding-left: 14px;}	

.pl15 {
	padding-left: 15px;}	

.pl76 {
	padding-left: 76px!important;}

.pl98 {
	padding-left: 98px!important;}

.pl100 {
	padding-left: 100px!important;}

.pt5 {
	padding-top: 5px;}

.pt10 {
	padding-top: 10px;}

.pt15 {
	padding-top: 15px;}

.pt20 {
	padding-top: 20px;}

.pb5 {
	padding-bottom: 5px;}	

.pb10 {
	padding-bottom: 10px;}	

.pb15 {
	padding-bottom: 15px;}

.pr7 {
	padding-right: 7px;}

.pr12 {
	padding-right: 12px;}

.pr14 {
	padding-right: 14px;}

.pr15 {
	padding-right: 15px;}	

.pr90 {
	padding-right: 90px;}

.pr110 {
	padding-right: 110px;}


/*************@descrip 滚动点**************/
.indicator {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;}

.indicator .dot {
	background: #C2C2C2;
	border-radius: 100%;
	display: inline-block;
	margin-right: 3px;
	text-indent: -9999px;
	width: 8px;
	height: 8px;}

.indicator .active {
	background: #CA0E1E;}


body {
	background: #FFF;
	color: #000;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;}

a:link,
a:visited {
	text-decoration: none;}

