<div class="tableform">
    <div class="division">
        <table class="gridlist" width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>  
                    <th><{t}>订单总数<{/t}></th>
                    <th><{t}>订单总金额<{/t}></th>
                    <th><{t}>平均订单价<{/t}></th>
                    <th><{t}>客户积分<{/t}></th>
                    <th><{t}><{/t}></th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                     <td><{$analysis.TotalOrders}></td>
                     <td><{$analysis.TotalAmount}></td>
                     <td><{$analysis.TotalPerAmount}></td>
                     <td><{$analysis.Points}></td>
                     <td>&nbsp;</td>

                 </tr>
            </tbody>
            
            <thead>
                <tr>  
                    <th><{t}>退款订单数<{/t}></th>
                    <th><{t}>退款订单金额<{/t}></th>
                    <th><{t}>成功的订单数<{/t}></th>
                    <th><{t}>成功的订单金额<{/t}></th>
                    <th><{t}>成功平均订单价<{/t}></th>
                    <th><{t}><{/t}></th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                     <td><{$analysis.RefundOrders}></td>
                     <td><{$analysis.RefundAmount}></td>
                     <td><{$analysis.FinishOrders}></td>
                     <td><{$analysis.FinishTotalAmount}></td>
                     <td><{$analysis.FinishPerAmount}></td>
                     <td></td>
                 </tr>
            </tbody>
            
            <thead>
                <tr>  
                    <th><{t}>未付款订单数<{/t}></th>
                    <th><{t}>未付款订单金额<{/t}></th>
                    <th><{t}>未支付平均订单价<{/t}></th>
                    <th><{t}><{/t}></th>
                    <th><{t}><{/t}></th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                     <td><{$analysis.UnpayOrders}></td>
                     <td><{$analysis.UnpayAmount}></td>
                     <td><{$analysis.UnpayPerAmount}></td>
                    <th><{t}><{/t}></th>
                    <th><{t}><{/t}></th>
                 </tr>
            </tbody>
            
            <thead>
                <tr>  
                    <th><{t}>购买频次(天)<{/t}></th>
                    <!--th><{t}>平均购买间隔(天)<{/t}></th-->
                    <th><{t}>购买月数<{/t}></th>
                    <th><{t}>下单商品总数<{/t}></th>
                    <th><{t}>第一次下单时间<{/t}></th>
                    <th><{t}>最后下单时间<{/t}></th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                     <td><{$analysis.BuyFreq}></td>
                     <!--td><{$analysis.avg_buy_interval}></td-->
                     <td><{$analysis.BuyMonth}></td>
                     <td><{$analysis.BuyProductsNum}></td>
                      <td><{$analysis.MinCreateTime}></td>
                     <td><{$analysis.MaxCreateTime}></td>
                     
                 </tr>
            </tbody>
            
  
            
        </table>
    </div>
</div>
