<style>
    .buy_body{width: 80%; margin: 0 auto; background: #ffffff;text-align: center;}
    .buy_body h1{font-family: "微软雅黑"; margin-top: 30px;}
    .buy_body a{display: inline-block; width: 160px; height: 50px; font-weight: bold; background: #090;color: #F2FFF8; text-align: center; border: 1px solid green;line-height: 50px;letter-spacing: 1px; text-decoration: none;margin: 20px auto 20px auto; border-radius: 3px;}
    .buy_body p{ font-family: "微软雅黑";color: #000000;font-size: 15px;line-height: 12px; }
    .buy_body table{width: 60%;display: inline-table; margin: 15px 0 15px 0;}
    .buy_body table td{border: 1px solid #000000;font-family: "微软雅黑";font-size: 14px;}
</style>

<div class="buy_body">
    <h1>订购增强版微信/扩容会员包</h1>
    <div style="display: block; margin-top: 60px; text-align: left;width: 60%;margin: 0 auto;">
        <p>购买提示</p>
        <p style="text-indent: 40px">1.选择希望开通服务的年限</p>
        <p style="text-indent: 40px">2.将对应费用转账至商派支付宝账号，点击<span style="font-size: 16px; font-weight: bold;">【立即支付】</span>查看；</p>
        <p style="text-indent: 40px">3.在<span style="font-size: 16px; font-weight: bold;">【上传凭证】</span>页面上传“支付宝转账成功”截图。</p>
    </div>
    <table>
        <tbody>
        <tr><td>CRM增强版微信服务</td><td>一年期</td><td>二年期（九折）</td><td>三年期（八折）</td></tr>
        <tr><td>价格/元</td><td>3600</td><td>6480</td><td>8640</td></tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr><td>扩容会员包容量</td><td>一年期(元)</td><td>二年期(元)（九折）</td><td>三年期(元)（八折）</td></tr>
        <tr><td>5万</td><td>600</td><td>1080</td><td>1440</td></tr>
        <tr><td>10万</td><td>1200</td><td>2160</td><td>2880</td></tr>
        <tr><td>20万</td><td>2400</td><td>4320</td><td>5760</td></tr>
        <tr><td>30万</td><td>3600</td><td>6480</td><td>8640</td></tr>
        <tr><td>50万</td><td>6000</td><td>10800</td><td>14400</td></tr>
        <tr><td>100万</td><td>12000</td><td>21600</td><td>28800</td></tr>
        <tr><td>200万</td><td>24000</td><td>43200</td><td>57600</td></tr>
        </tbody>
    </table>
    <div style="display: block; margin-top: 60px; text-align: left;width: 60%;margin: 0 auto;">
        <p style="text-align: left; font-size: 18px; font-weight: bold;">支付宝收款名称：</p>
        <p style="text-align: left; font-size: 18px; text-indent: 40px;">上海商派网络科技有限公司</p>

        <p style="text-align: left; font-size: 18px; font-weight: bold;">支付宝帐户名：</p>
        <p style="text-align: left; font-size: 18px; text-indent: 40px;">payment@shopex.cn</p>

        <!--<p style="">商派 Shopex 增值服务自助开通支付宝账号：</p>-->
        <!--<p style="text-align: center; font-size: 18px; font-weight: bold;">payment@shopex.cn(商派支付宝账号)</p>-->
        <p>提示</p>
        <p style="text-indent: 40px">1.  请仔细核对增值服务的价目表，确认所需服务和年限，缴付准确的费用；</p>
        <p style="text-indent: 40px">2.	请将所购增值服务名称填写至备注栏；</p>
        <p style="text-indent: 40px">3.	支付宝支付成功的单号,截图是开通增值服务的唯一凭证，请务必上传至<span style="font-size: 16px; font-weight: bold;">【已经购买】</span>的页面中。</p>
    </div>

    <a href="index.php?app=market&amp;ctl=admin_weixin&amp;act=uploadDocuments" target="dialog::{width:600,height:300,title:'上传购买凭证'}">上传凭证</a>
    <p>如需人工服务请拨打商派热线400-890-8858。</p>
    <p>商派,技术驱动商业未来</p>
</div>


