<{if !$_is_singlepage}>
<style>
    .points { font-weight:bold; font-family:Tahoma, Geneva, sans-serif;}
    label {cursor:pointer;}
</style>
<form method="POST" action="index.php?app=taocrm&ctl=admin_rebate_payment&act=send_rebate" class="tableform" id="form_send_rebate">
    <{input type='hidden' value=$rebate_type name="rebate_type" id="rebate_type"}>
    <{input type='hidden' value=$rebate_ids name="rebate_ids" id="rebate_ids"}>
    <h3 style="text-align: center">本次返利发放小计</h3>
    <div class="tableform">
        <table class="gridlist" width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th><{t}>周期开始时间<{/t}></th>
                    <th><{t}>周期结束时间<{/t}></th>
                    <th><{t}>返利值<{/t}></th>
                    <th><{t}>返利数量<{/t}></th>
                    <th><{t}>返利类型<{/t}></th>
                    <th><{t}>创建时间<{/t}></th>
                </tr>
            </thead>
            <tbody>
                <{foreach from=$res item=item key=key}>
                    <tr>
                        <td><{$item.rebate_start_time|cdate:'FDATE_FTIME'}></td>
                        <td><{$item.rebate_end_time|cdate:'FDATE_FTIME'}></td>
                        <td><{$item.rebate_price}></td>
                        <td><{$item.rebate_number}></td>
                        <td><{if $rebate_type == 1}>积分<{/if}><{if $rebate_type == 0}>RMB<{/if}></td>
                        <td><{$item.create_time|cdate:'FDATE_FTIME'}></td>
                    </tr>
                <{/foreach}>
            </tbody>
        </table>
    </div>
</form>
<{area inject='.mainFoot'}>
<div class="table-action">
    <{button type="button" label="确认" id="form_send_rebate_submit"}>
</div>

<{/area}>

<script>
    (function(){
        var _form = $('form_send_rebate');
        var btn =$('form_send_rebate_submit');
        _form.store('target',{
            onSuccess:function(response){
                var hash_res_obj = JSON.decode(response);
                if (hash_res_obj.success != undefined && hash_res_obj.success != "")
                {
                    try{
                        var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                    }catch(e){}
                    if(_dialogIns)
                    {
                        _dialogIns.close();
                        finderGroup['<{$finder_id}>'].refresh();
                    }
                }
            }
        });
        btn.addEvent('click',function(){
            _form.fireEvent('submit',{stop:$empty});
            //btn.set('disabled','disabled');
        });
    })();
</script>

<{/if}>
 
