<{area inject='.mainHead'}>
<div class="tableform">
    <table border="0" cellspan="0" colspan="0" style="background: none repeat scroll 0 0 #EAEEF4;">
        <tr>
            <td width="25%">
                <table border="0" cellspan="0" colspan="0">
                    <tr>
                        <td width="40%" align="right">ShopEx通行证Id:</td>
                        <td width="60%" align="left"><{$account['entid']}></td>
                    </tr>
                </table>
            </td>
            <td width="25%">                
                <table style="display:none" border="0" cellspan="0" colspan="0">
                    <tr>
                        <td width="40%" align="right">Email:</td>
                        <td width="60%" align="left"><{$account['email']}></td>
                    </tr>
                </table>
            </td>
            <td width="25%">
                <table style="display:none" border="0" cellspan="0" colspan="0">
                    <tr>
                        <td width="40%" align="right">状态:</td>
                        <td width="60%" align="left"><{if $info['res'] == 'fail'}><{$info['info']}><{elseif $info['info']->account_info->active == 1}>正常<{else}>未激活<{/if}></td>
                    </tr>
                </table>            
            </td>
            <td width="25%">
                <form action="<{link app=market ctl=admin_sms_account act=unbind}>" method="post" id="enterpriseUnbind">
                    <{button type="button" label="切换帐号" id="unbind"}>
                </form>
            </td>
        </tr>
        <{* if $info['res'] == 'succ'}>
        <tr>
            <td width="25%">
                <table border="0" cellspan="0" colspan="0">
                    <tr>
                        <td width="40%" align="right">当月可用短信:</td>
                        <td width="60%" align="left"><{$info['info']->month_residual}>条</td>
                    </tr>
                </table>
            </td>
            <td width="25%">                
                <table border="0" cellspan="0" colspan="0">
                    <tr>
                        <td width="40%" align="right">全部可用短信:</td>
                        <td width="60%" align="left"><{$info['info']->all_residual}>条</td>
                    </tr>
                </table>
            </td>
            <td width="25%">&nbsp;</td>
            <td width="25%">&nbsp;</td>
        </tr>
        <{/if *}>      
    </table>
</div>
<{/area}>

<iframe id="sms_iframe" frameborder="0" src="<{$frameurl}>" width="100%" height="90%" ></iframe>

<script type="text/javascript">
    (function(){
        var _form = $('enterpriseUnbind');
        var btn =$('unbind');
        
        btn.addEvent('click',function(){
            //_form.fireEvent('submit',{stop:$empty});
			window.location.href = 'index.php?app=market&ctl=admin_sms_active&act=index&change=1';
        });
    })();
</script>