<div style="padding:50px 0 0 100px;line-height:32px;font-size:14px;">
<div>
<ol>
<li>
<a href='<{$url}>/index.php/taocrm/default/index/app/site' target='_blank'>查看前台优惠券</a>
</li>

<li>
复制前台优惠券地址：<br/>
<input id='url' type='text' class='x-input' size=70 value='<{$url}>/index.php/taocrm/default/index/app/site' />
<button id='copy_btn'>复制</button>
</li>

</ol>
</div>
</div>

<script type="text/javascript">
$('copy_btn').addEvent('click',function(){
    copyToClipboard($('url').value);
});

$('url').addEvent('mouseover',function(){
    $(this).select();
});

function copyToClipboard(txt) {   
    if(window.clipboardData) {   
        window.clipboardData.clearData();   
        window.clipboardData.setData("Text", txt);   
    } else if(navigator.userAgent.indexOf("Opera") != -1) {   
        window.location = txt;   
    } else if (window.netscape) {   
        try {   
            netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");   
        } catch (e) {   
            alert("被浏览器拒绝！\n请在浏览器地址栏输入'about:config'并回车\n然后将'signed.applets.codebase_principal_support'设置为'true'");   
        }   
    var clip = Components.classes['@mozilla.org/widget/clipboard;1'].createInstance(Components.interfaces.nsIClipboard);   
    if (!clip)   
        return;   
    var trans = Components.classes['@mozilla.org/widget/transferable;1'].createInstance(Components.interfaces.nsITransferable);   
    if (!trans)   
        return;   
    trans.addDataFlavor('text/unicode');   
    var str = new Object();   
    var len = new Object();   
    var str = Components.classes["@mozilla.org/supports-string;1"].createInstance(Components.interfaces.nsISupportsString);   
    var copytext = txt;   
    str.data = copytext;   
    trans.setTransferData("text/unicode",str,copytext.length*2);   
    var clipid = Components.interfaces.nsIClipboard;   
    if (!clip)   
        return false;   
    clip.setData(trans,null,clipid.kGlobalClipboard);    
    }   

    alert("复制成功")
}
</script>