<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Charts</title>
        
        <{script src="../amcharts/amcharts.js" app="taocrm" }>  
        
        <script type="text/javascript">
            var chart;

            var chartData = <{$chartData}>;
            
            AmCharts.ready(function () {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "x";
                //chart.startDuration = 1;
                chart.plotAreaBorderColor = "#DADADA";//边框颜色
                chart.plotAreaBorderAlpha = 0;
                // this single line makes the chart a bar chart
                chart.rotate = false;//图标的方向
                chart.depth3D = 2;//立体度设置
                chart.angle = 30;
                chart.fontSize = 12;

                // AXES
                // Category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.title = "催付日期";
                categoryAxis.gridPosition = "start";
                categoryAxis.gridAlpha = 0;//横坐标
                categoryAxis.axisAlpha = 0;
                categoryAxis.tickLength = 0;
                categoryAxis.dashLength = 1;

                // Value
                var valueAxis1 = new AmCharts.ValueAxis();
                valueAxis1.axisAlpha = 0;//Y坐标1
                valueAxis1.gridAlpha = 0.1;
                valueAxis1.dashLength = 2;
                valueAxis1.minimum = 0;
                valueAxis1.position = "left";
                chart.addValueAxis(valueAxis1);
                
                // Value
                var valueAxis2 = new AmCharts.ValueAxis();
                valueAxis2.title = '付款率';
                valueAxis2.axisAlpha = 0;//Y坐标2
                valueAxis2.gridAlpha = 0;
                valueAxis2.dashLength = 4;
                valueAxis2.minimum = 0;
                valueAxis2.maximum = 100;
                valueAxis2.position = "right";
                chart.addValueAxis(valueAxis2);
                
                // Value
                var valueAxis3 = new AmCharts.ValueAxis();
                valueAxis3.title = '金额';
                valueAxis3.axisAlpha = 0;//Y坐标2
                valueAxis3.gridAlpha = 0;
                valueAxis3.dashLength = 4;
                valueAxis3.minimum = 0;
                valueAxis3.offset = 20;
                valueAxis3.position = "left";
                chart.addValueAxis(valueAxis3);

                // GRAPHS
                // first graph
                var graph1 = new AmCharts.AmGraph();
                graph1.valueAxis = valueAxis1;
                graph1.type = "column";
                graph1.title = "<{$chartLabel.y1}>";
                graph1.valueField = "y1";
                graph1.balloonText = "<{$chartLabel.y1}>:[[value]]";
                graph1.bulletAlpha = 0;
                graph1.lineAlpha = 0;
                graph1.lineThickness = 2;
                graph1.fillColors = "#0D8ECF";
                graph1.fillAlphas = 1;
                chart.addGraph(graph1);
                
                var graph1 = new AmCharts.AmGraph();
                graph1.valueAxis = valueAxis3;
                graph1.type = "column";
                graph1.title = "<{$chartLabel.y2}>";
                graph1.valueField = "y2";
                graph1.balloonText = "<{$chartLabel.y2}>:[[value]]";
                graph1.bulletAlpha = 0;
                graph1.lineAlpha = 0;
                graph1.lineThickness = 2;
                graph1.fillColors = "#CC0E70";
                graph1.fillAlphas = 1;
                chart.addGraph(graph1);

                // second graph
                var graph1 = new AmCharts.AmGraph();
                graph1.valueAxis = valueAxis2;
                graph1.title = "<{$chartLabel.y3}>";
                graph1.valueField = "y3";
                graph1.type = "line";//线形图
                graph1.lineColor = "#AFDE09";
                graph1.balloonText = "<{$chartLabel.y3}>:[[value]]%";
                graph1.lineThickness = 3;//线宽
                graph1.legendValueText = "[[value]]%";
                graph1.bullet = "round";//坐标点的形状：square
                graph1.bulletColor = "#FFFFFF";
                graph1.bulletBorderColor = "#006699";
                chart.addGraph(graph1);
                
                // LEGEND
                var legend = new AmCharts.AmLegend();
                legend.fontSize = 12;//图例
                legend.equalWidths = false;
                chart.addLegend(legend);
                
                // CURSOR
                var chartCursor = new AmCharts.ChartCursor();//鼠标线
                //chartCursor.cursorPosition = "mouse";//鼠标线的位置，跟随鼠标或自动对齐
                chart.addChartCursor(chartCursor);

                // WRITE
                chart.write("chartdiv");
            });
        </script>
    </head>
    
    <body>
        <div id="chartdiv" style="width: 100%; height: 320px;"></div>
    </body>

</html>