 <div class="data-action" id="dataAction" style="margin-bottom:10px;padding:5px 15px; border:0;height:30px;background:#F0F0F0;border-top:1px solid #bbb;border-bottom:1px solid #bbb;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr style="height:30px;">
      <td>
        <label><{t}>时间范围：<{/t}></label>
          <{input type="date" vtype="date" name="time_from" value=$time_from}><{t}>至<{/t}>
          <{input type="date" vtype="date" name="time_to" value=$time_to}>
          <{button type="button" class="filterBtn btn-thirdly" label=$___ectools="搜索"|t:'ectools'}> &nbsp;  || &nbsp;  &nbsp;
          <button type="button" time_from='<{$today}>' time_to='<{$today}>' class="btn dataBtn btn-fourthly"><span><span>今天</span></span></button>
          <button type="button" time_from='<{$yesterday}>' time_to='<{$yesterday}>' class="btn dataBtn btn-fourthly"><span><span>昨天</span></span></button>
          <button type="button" time_from='<{$threedaysago_from}>' time_to='<{$threedaysago_to}>' class="btn dataBtn btn-fourthly"><span><span>近3天</span></span></button>
          <button type="button" time_from='<{$sevendaysago_from}>' time_to='<{$sevendaysago_to}>' class="btn dataBtn btn-fourthly"><span><span>近7天</span></span></button>
          <button type="button" time_from='<{$thirtydaysago_from}>' time_to='<{$thirtydaysago_to}>' class="btn dataBtn btn-fourthly"><span><span>近14天</span></span></button>
          <button type="button" time_from='<{$this_month_from}>' time_to='<{$this_month_to}>' class="btn dataBtn btn-fourthly"><span><span>本月</span></span></button>
          <button type="button" time_from='<{$last_month_from}>' time_to='<{$last_month_to}>' class="btn dataBtn btn-fourthly"><span><span>上月</span></span></button>
          <button type="button" time_from='<{$every_from}>' time_to='<{$every_to}>' class="btn dataBtn btn-fourthly"><span><span>全部</span></span></button>
      </td>
    </tr>
  </table>
</div>
<script>
  (function(){
    var _finder = finderGroup['<{$name}>'],
        dataAction= $('dataAction'),
        data_ipt=dataAction.getElements('input[name^=time_]'),
        from=dataAction.getElement('input[name=time_from]'),
        to=dataAction.getElement('input[name=time_to]');
    
    if(_finder&&_finder.form){
      fdoc = document.createDocumentFragment();
      data_ipt.each(function(ipt){
        fdoc.appendChild(new Element('input', {type: 'hidden', 'name': ipt.name, value: ipt.value}));
      });
      _finder.form.appendChild(fdoc);
    }

    data_ipt.addEvent('change',function(e){
      if(_finder&&_finder.form){
        var ipt=$E('input[name='+this.name+']',_finder.form);
        if(ipt)ipt.value=this.value;
      }
    });

    $$('.select-tabs a').addEvent('click',function(e){
      e.stop();
      W.page(this.href,{data:'report='+this.type,method:"post"});
    });

    function setChartData(flag,e){
      if(!check_data(from,to))return;
      var params=dataAction.toQueryString(),
          itemcur=$E('.chart-view .chart-item-cur');
      dataAction.store('_data',params);

      if(flag) {
        url='index.php?app=<{$env.get.app}>&ctl=<{$env.get.ctl}>&act=<{$env.get.act}>';
        <{if $env.get.view}>
        url = url+'&view=<{$env.get.view}>';
        <{/if}>
        <{if $env.get.type}>
        url = url+'&type=<{$env.get.type}>';
        <{/if}>
      }
      else url=e.target.href||e.target.getParent().href;
      W.page(url, {data:params, method:'get',onComplete:function(){
          if(_finder) _finder.filter.value=params;
      }});
    }
    dataAction.getElement('.filterBtn').addEvent('click',function(e){setChartData(true)});

    var packet=$('finder-packet-<{$name}>');
    if(packet) packet.addEvent("click",function(e){
      if(e.target.tagName.toLowerCase()=="a" || e.target.getParent().tagName.toLowerCase()=="a"){
        e.stop();
        setChartData(false,e);
      }
    });

    <{if $report == "month"}>
    function check_data(from,to){
      if(Date.parse(to.value.replace(/-/gi,"/"))<Date.parse(from.value.replace(/-/gi,"/"))){
        return MessageBox.error('<{t}>选择开始时间必须早于结束时间<{/t}>');
      }
      return true;
    }
    <{else}>
    function check_data(from,to){
      var data=[],
      _return=[from,to].every(function(el){
        if(!/^(19|20)[0-9]{2}-([1-9]|0[1-9]|1[012])-([1-9]|0[1-9]|[12][0-9]|3[01])+$/.test(el.value)){
          new MessageBox('<{t}>请录入日期格式yyyy-mm-dd<{/t}>',{type:'error',autohide:true});
          el.focus();
          return false;
        }
        data.push(Date.parse(el.value.replace(/-/gi,"/")));
        return true;
      });

      if(!_return)return;
      if(data[1]<data[0]){
        return MessageBox.error('<{t}>选择开始时间必须早于结束时间<{/t}>');
      }
      return _return;
    }
    <{/if}>

    var dataBtn=dataAction.getElements('.dataBtn');
    dataBtn.each(function(el,i){
      if(el.get('time_from')==from.value && el.get('time_to')==to.value)
          el.addClass('btn-fourthly-cur');
      el.addEvent('click',function(e){
        from.value=this.get('time_from');
        to.value=this.get('time_to');

        /* ['time_from','time_to'].each(function(v){
         *   dataAction.getElements('input[name='+v+']').value=this.get(v);
         * },this); */
        dataAction.getElement('.filterBtn').fireEvent('click');
      });
    });

  })();

    //if($E('.finder-options')) $E('.finder-options').removeClass('finder-options').inject($('finder-action-<{$name}>'));
</script>
