<style>
	.legal{padding-top:4px;text-indent:2em;}
	.member_retail{padding-top:8px}
</style><br/>
<div style='width:90%;margin:0 auto;padding:10px;border:1px solid #CCC;font-size:13px;font-family:FangSong;'>
	<table width="100%" border="0" cellpadding="0" cellspacing="0" id='member_level'>
	    <tr>
	      <td><b>店铺绑定说明</b></td>
	    </tr>
	    <tr>
	      <td class='legal'><strong>建议</strong>使用火狐浏览器进行操作。
	      <a href="http://www.firefox.com.cn/download/" target="_blank">下载火狐浏览器</a>
	      </td>
	    </tr>
	    <tr>
	      <td><b>操作步骤</b></td>
	    </tr>
	    <tr>
	      <td class='legal'>第1步&nbsp;&nbsp;点击
	      <img style="vertical-align: middle;" src='<{$env.app.res_url}>/shop.gif'>&nbsp;，填写完信息后点击"提交"(如需添加多个店铺，请再次点击
	      <img style="vertical-align: middle;" src='<{$env.app.res_url}>/shop.gif'>)
	      </td>
	    </tr>
	    <tr>
	      <td class='legal'>第2步&nbsp;&nbsp;添加店铺完成后，在下方列表找到刚添加的店铺，点击"申请绑定"
	      </td>
	    </tr>
	    <tr>
	      <td class='legal'>第3步&nbsp;&nbsp;请选择店铺类型，填写完信息后点击"绑定"<br/>
	      <span style="padding-left:70px">(如果店铺是淘宝和京东商城需先登入，登入后返回申请绑定窗口点击"下一步"进行绑定)</span>
	      </td>
	    </tr>
	    <tr>
	      <td class='legal'>第4步&nbsp;&nbsp;绑定完成后，请刷新店铺管理界面，查看是否已绑定
	      </td>
	    </tr>
	    
	    <tr>
	      <td class='legal'>注意：由于网络或第三方授权关系，绑定可能出现问题，如在绑定后&nbsp;<b>未显示"已绑定"</b>字样,<br />
	      <span style="padding-left:67px">
	      	请点击"查看绑定关系"如存在，请先解绑问题店铺，关闭查看绑定关系窗口，并重新从第2步开始</span>
	      </td>
	    </tr>
	    
	    
	</table>
</div>

