<div class="tableform">
    <div class="division">
        <table class="gridlist" width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>  
                    <th><{t}>订单总数<{/t}></th>
                    <th><{t}>总金额<{/t}></th>
                    <th><{t}>平均每单金额<{/t}></th>
                    <th><{t}>客户数<{/t}></th>
                    <th><{t}>客单价<{/t}></th>
                    <th><{t}>单次购买客户数<{/t}></th>
                    
                </tr>
            </thead>
            <tbody>
                 <tr>
                     <td><{$analysis.orders}></td>
                     <td><{$analysis.amount}></td>
                     <td bgcolor="#F4F4F4">
                        <{if($analysis.orders>0)}>
                            <{$analysis.amount/$analysis.orders|round:2}>
                        <{else}>
                            0
                        <{/if}>
                     </td>
                     <td><{$analysis.members}></td>
                     <td><{$analysis.per_amount}></td>
                     <td><{$analysis.single_members}></td>
                 </tr>
            </tbody>
            
            <thead>
                <tr>  
                    <th><{t}>退款订单数<{/t}></th>
                    <th><{t}>退款金额<{/t}></th>
                    <th><{t}>平均每单退款<{/t}></th>
                    <th><{t}>交易成功订单数<{/t}></th>
                    <th><{t}>交易成功金额<{/t}></th>
                    <th><{t}>成功订单单价<{/t}></th>
                    
                </tr>
            </thead>
            <tbody>
                 <tr>
                     <td><{$analysis.refund_orders}></td>
                     <td><{$analysis.refund_amount}></td>
                     <td bgcolor="#F4F4F4">
                        <{if($analysis.refund_orders>0)}>
                            <{$analysis.refund_amount/$analysis.refund_orders|round:2}>
                        <{else}>
                            0
                        <{/if}>
                     </td>
                     <td><{$analysis.finish_orders}></td>
                     <td><{$analysis.finish_amount}></td>
                     <td><{$analysis.finish_per_amount}></td>
                 </tr>
            </tbody>
            
            <thead>
                <tr>  
                    <th><{t}>未付款订单数<{/t}></th>
                    <th><{t}>未付款金额<{/t}></th>
                    <th><{t}>平均每单未付款<{/t}></th>
                    <th><{t}>未付款客单价<{/t}></th>
                    <th><{t}>平均每单付款<{/t}></th>
                    <th><{t}>宝贝数<{/t}></th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                     <td><{$analysis.unpay_orders}></td>
                     <td><{$analysis.unpay_amount}></td>
                     <td bgcolor="#F4F4F4">
                        <{if($analysis.unpay_orders>0)}>
                            <{$analysis.unpay_amount/$analysis.unpay_orders|round:2}>
                        <{else}>
                            0
                        <{/if}>
                     </td>
                     <td><{$analysis.unpay_per_amount}></td>
                     <td>
                        <{if($analysis.pay_orders>0)}>
                            <{$analysis.pay_amount/$analysis.pay_orders|round:2}>
                        <{else}>
                            0
                        <{/if}>
                     </td>
                     <td><{$analysis.products}></td>
                 </tr>
            </tbody>
            
        </table>
    </div>
</div>
