<{if !$_is_singlepage}>

<form method="POST" action="index.php?app=ecorder&ctl=admin_shop_channel&act=save" class="tableform" id="form_member_lv">
    <{input type='hidden' name='channel_id' value=$channel.channel_id}>
    <div class="division">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" >
            <tr>
              <th><em class="c-red">*</em><{t}>分类编号：<{/t}></th>
              <td><{input type="text" name="channel_bn" size="20" vtype="required" value=$channel.channel_bn}></td>
            </tr>
            <tr>
              <th><em class="c-red">*</em><{t}>分类名称：<{/t}></th>
              <td><{input type="text" name="channel_name" size="20" vtype="required" value=$channel.channel_name}></td>
            </tr>
        </table>
    </div>
</form>
<{area inject='.mainFoot'}>
<div class="table-action">
	<{button type="button" label="保存" id="member_lv-form-submit"}>
</div>
<{/area}>

<script>
(function(){
	var _form = $('form_member_lv');
	var btn =$('member_lv-form-submit');
	var finder = finderGroup['<{$env.get._finder.finder_id}>'];
	
	_form.store('target',{
		onSuccess:function(response){
			var hash_res_obj = JSON.decode(response);
		
			if (hash_res_obj.success != undefined && hash_res_obj.success != "")
			{
				try{
					var _dialogIns = btn.getParent('.dialog').retrieve('instance');
				}catch(e){}
				
				if(_dialogIns)
				{	
					_dialogIns.close();
                    window.finderGroup['<{$env.get.finder_id}>'].refresh.delay(400,window.finderGroup['<{$env.get.finder_id}>']);
					//window.finderGroup['<{$env.get._finder.finder_id}>'].refresh();
				}
			}
			
		}
	});

	    btn.addEvent('click',function(){
		    _form.fireEvent('submit',{stop:$empty});
		});
	
})();
</script>

<{/if}>
 