<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>订单详情</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <link rel="apple-touch-icon-precomposed" href="statics/img/touch-icon.png">
  <meta content="telephone=no" name="format-detection">
  <meta name="author" content="shopex UED Team">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="<{$env.app.res_url}>/css/foundation.css">
</head>
<body>
<nav class="top-bar" data-topbar>
  <div class="pos-left">
    <a href="javascript:history.back();" class="icon-arrow_left"></a>
  </div>
  <h1>订单详情</h1>
</nav>

<div class="container gap divider">
  <ul class="no-bullet order-status">
    <li><i class="icon-orders">订单状态：</i><span class="text-success"><{$order_data.flow_status}></span></li>
    <li><i class="icon-locate">来源店铺：</i><span><{$order_data.shop_name}></span></li>
  </ul>
  <ul class="no-bullet order-status">
    <li>收货人：<{$order_data.shipping.ship_name}> <{$order_data.consignee.mobile}></li>
    <li>收货人地址：<{$order_data.consignee.addr}></li>
    <li>物流信息：
        <{if $order_data.logi_company }>
        <{$order_data.delivery_time}>&nbsp;&nbsp;<{$order_data.logi_company}>
        <{else}>
        <font style='color: red;'>该订单不存在物流信息！</font>
        <{/if}>
    </li>
  </ul>
    <{if $order_data.logi_company }>
    <div class="container text-center order-logis">
        <h1>物流信息查询</h1>
        <a href="logistics_info?order_id=<{$order_data.order_id}>" class="button expand secondary">
            <span class="small"><{$order_data.delivery_time}></span>
            <{$order_data.logi_company}>
            <i class="icon-arrow_right"></i>
        </a>
    </div>
    <{/if}>
</div>
<div class="mod top goods-info">
  <div class="mod-head">
    <h1>商品信息</h1>
  </div>
  <div class="mod-body">
    <ul class="no-bullet">
        <{foreach from=$order_data.item item=data key=k}>
      <li class="flex-item">
        <span class="title ellipsis"><{$data.name}></span>
        <span class="price">￥<{$data.price}></span>
        <span class="num">x<{$data.nums}></span>
      </li>
        <{/foreach}>
    </ul>
    <ul class="no-bullet cost">
      <li class="flex-item"><span class="title">商品金额</span><span class="amount text-alert">￥<{$order_data.cur_amount}></span></li>
      <!--<li class="flex-item"><span class="title">运费</span><span class="amount">￥<{$order_data.shipping.cost_shipping}></span></li>
      <li class="flex-item"><span class="title">优惠金额</span><span class="amount text-success">-￥<{$order_data.preferential_money}></span></li>-->
    </ul>
    <p align="right">(包括运费、优惠金额等)共计：<b class="text-alert">￥<{$order_data.total_amount}></b></p>
  </div>
  <div class="mod-foot"></div>
</div>
<div class="mod top order-total">
  <ul class="no-bullet small">
    <li class="flex-item"><span class="span-1">订单号：</span><span class="span-2"><{$order_data.order_bn}></span></li>
    <li class="flex-item"><span class="span-1">下单日期：</span><span class="span-2"><{$order_data.createtime}></span></li>
    <li class="flex-item"><span class="span-1">支付方式：</span><span class="span-2"><{$order_data.payinfo.pay_name}></span></li>
    <li class="flex-item"><span class="span-1">支付日期：</span><span class="span-2"><{$order_data.pay_time}></span></li>
  </ul>
</div>

<script src="<{$env.app.res_url}>/js/libs.min.js"></script>
<script src="<{$env.app.res_url}>/js/foundation.min.js"></script>
<script src="<{$env.app.res_url}>/js/main.min.js"></script>
<script>
</script>
</body>
</html>
