<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>我的收货地址</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <link rel="apple-touch-icon-precomposed" href="statics/img/touch-icon.png">
  <meta content="telephone=no" name="format-detection">
  <meta name="author" content="shopex UED Team">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="<{$env.app.res_url}>/css/foundation.css">
</head>
<body>
<nav class="top-bar" data-topbar>
  <div class="pos-left">
    <a href="javascript:history.back();" class="icon-arrow_left"></a>
  </div>
  <h1>收货地址</h1>
</nav>
<{if $addrs eq null}>
<div class="container">
  <div class="placeholder-info">
    <p>
      <i class="icon-locate"></i>
    </p>
    <a href="receiving_address_edit?member_id=<{$data.member_id}>" class="button small">填写新地址</a>
  </div>
</div>
<{else}>
<div class="addr">
  <ul class="table-view addr-list">
      <{foreach from=$addrs item=data key=k}>
    <li <{if $data.default_addr eq 'true'}> class="cell active" <{else}> class="cell" <{/if}> >
      <a href="receiving_address_edit?member_id=<{$data.member_id}>&receiver_id=<{$data.receiver_id}>" class="navigate-right icon-checkmark">
        <h5><{$data.name}>：<{$data.mobile}></h5>
        <p>地址：<{$data.address}></p>
      </a>
    </li>
      <{/foreach}>
  </ul>
</div>
<{if $list_cnt lt 10}>
<div class="container gap no-bg"><a href="receiving_address_edit?member_id=<{$data.member_id}>" class="button expand">添加新地址</a></div>
<{/if}>
<{/if}>
<script src="<{$env.app.res_url}>/js/libs.min.js"></script>
<script src="<{$env.app.res_url}>/js/foundation.min.js"></script>
<script src="<{$env.app.res_url}>/js/main.min.js"></script>
</body>
</html>
