<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>每日签到</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <link rel="apple-touch-icon-precomposed" href="statics/img/touch-icon.png">
  <meta content="telephone=no" name="format-detection">
  <meta name="author" content="shopex UED Team">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="<{$env.app.res_url}>/css/foundation.css">
</head>
<body class="checkin-body">
<nav class="top-bar" data-topbar>
  <div class="pos-left">
    <a href="javascript:history.back();" class="icon-arrow_left"></a>
  </div>
  <h1>每日签到</h1>
</nav>

<div class="checkin-points">
  <img src="<{$env.app.res_url}>/img/checkin.png" alt="">
  <div class="points">持有积分<em><{$data.sum_points}></em></div>
</div>
<div class="container gap text-center">
  <p class="text-alert">你已经连续签到<i class="days"><{$data.sign_in_times}></i>天</p>
  <a href="" class="button round alert act-checkin">立即签到获得<{$data.send_points}>积分</a>
  <div class="help-block">
      <i class="icon-help"></i> 积分不知道怎么用？
      <a href="../site_weixin_ucenterNew/gifts?wx_id=<{$fromusername}>" class="text-alert">前往兑换商品</a>
  </div>
</div>


<script src="<{$env.app.res_url}>/js/libs.min.js"></script>
<script src="<{$env.app.res_url}>/js/foundation.min.js"></script>
<script src="<{$env.app.res_url}>/js/main.min.js"></script>
<script>
    var fromusername = '<{$fromusername}>';
    var sign_bool = '<{$data.sign_bool}>';
$('.act-checkin').click(function (e) {
    if(sign_bool){
        alert('今天已经签到了！');
        return false;
    }

    e.preventDefault();
    var aj = $.ajax( {
        url:'do_sign_in',// 跳转到 action
        data:{
            fromusername : fromusername
        },
        type:'post',
        success:function(responseText) {
            if(responseText == 'succ'){
                //$('sign').set('html','今日已签到');
                sign_bool = true;
                $('.days').text(parseInt($('.days').text(), 10) + 1);
                alert('签到成功！');
            }else{
                alert(responseText);
            }
        }
    });
});
</script>
</body>
</html>
