
<form action="index.php?app=marketcenter&ctl=admin_cards&act=toAdd" method="post" id="promotion_form" name="promotion_form">
  <input type="hidden" name="card[card_id]" value="<{$card.card_id}>"/>
  <input type="hidden" name="card[card_type]" value="<{$card.card_type}>"/>

  <div>
     <{include file="cards/promotion/page.html" app=marketcenter}>
  </div>
</form>
<script>
$('promotion_form').retrieve('setTabs',function(){
         var gtabs=$ES('#menu-desktop .spage-side-nav li.l-handle');
         new ItemAgg(gtabs,$ES('#promotion_form .spage-main-box'),{
            activeName:'cur',
            onActive:function(tab,item){
                 var anotherItems=$$($A(this.items).remove(item));
                  if(tab.hasClass('all')){
                     anotherItems.show();
                  }else{
                     anotherItems.hide();
                  }
            }
         });
}());

</script>