<div style="" class="content-head">

    <div class="finder-title">
        <h2 class="head-title span-auto">商品分组</h2>
    </div>

    <div style="padding-right:75px;" id="finder-action-d48745" class="gridlist-action finder-action clearfix">
        <ul class="finder-action-items flt">  
            <li>
                <{button label=$___ectools="创建分组"|t:'ectools' onclick="new Dialog('index.php?app=ecgoods&ctl=admin_group&act=edit',{width:700,height:355,title:'创建分组'})"  }>    	
            </li>
        </ul> 	  
    </div>
</div>

<div style="padding-top:2px;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="gridlist">
        <thead>
            <tr>
                <th>分组名称</th>
                <th>商品数</th>
                <th>更新时间</th>
                <th colspan=5>操作</th>
            </tr>
        </thead>
        <tbody>
            <{foreach from=$groups item=data key=i}>
            <tr class="provice-bg">
                <td style="text-align:left;font-weight:bold" width="30%">
                <{if $data.child_count>0 }>
                <span id="<{$data.group_id}>" class="imgTree tree_close" onclick="clickTree(this,1);"> &nbsp;&nbsp; </span>
                <{else}>
                <span id="<{$data.group_id}>" class="imgTree tree_open"> &nbsp;&nbsp; </span>
                <{/if}>
                <{$data.group_name}></td>
                <td width="10%">
                <{$data.goods_count}> 
                <{if ($data.goods_count>0)}>
                <a onclick="show_sel_goods(<{$data.group_id}>)">
                <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>
                <{/if}>&nbsp;
                
                </td>
                <td width="15%"><{$data.create_time}></td>
                <td width="10%">
                    <{if($data.childs == 0)}>
                        <a href="###" onclick="sel_goods(<{$data.group_id}>);">选择商品</a>
                    <{/if}>
                </td>
                <td width="10%">
                    <{if($data.childs == 0)}>
                        <a target="dialog::{width:700,height:355,title:'编辑分组'}" href="index.php?app=ecgoods&ctl=admin_group&act=edit&group_id=<{$data.group_id}>">编辑</a>
                    <{/if}>
                </td>
                <td width="10%">
                    <a target="dialog::{width:700,height:355,title:'添加子分组'}" href="index.php?app=ecgoods&ctl=admin_group&act=edit&parent_id=<{$data.group_id}>">添加子分组</a>
                </td>
                <td width="10%">
                    <a onclick="return del_confirm(this);" href="index.php?app=ecgoods&ctl=admin_group&act=delete&group_id=<{$data.group_id}>">删除</a>
                 </td>
            </tr>
            <{/foreach}>
        </tbody>
    </table>
</div>

<script>
(function(){
    
    //alert($$('.imgTree').length);
    
})();

function del_confirm(el){
    if(confirm('确定要删除吗？删除后无法恢复！')){
        var myRequest = new Request({
            url: el.href, 
            method: 'POST',
            onSuccess:function(responseText){
                //alert('删除成功');
                //window.location.reload();
                el.getParent().getParent().hide();
            }
        }).send();
    }
    return false;
}

function clickTree(obj,depth){
    //alert(obj.id);
    if(obj.get('class')=='imgTree tree_open') {
        obj.set('class','imgTree tree_close')
        removeChilds(obj.parentNode.parentNode.getNext(),depth);
    }else{
        obj.set('class','imgTree tree_open')
        getChildGroup(obj.id,depth);
    }
}

function removeChilds(o,depth){
    var o_depth = o.get('depth');
    var o_next = o.getNext();
    if(!o_depth) return false;
    if( o_depth != depth) {
        o.remove();
        removeChilds(o_next,depth);
    }
}

function show_sel_goods(group_id){
    var murl = 'index.php?app=ecgoods&ctl=admin_shop_goods&act=index_all&is_filter=yes&group_id='+group_id;
    var url='index.php?app=desktop&act=alertpages&goto='+encodeURIComponent(murl);
    Ex_Loader('modedialog',function() {
        new finderDialog(url,{width:900,height:550});
    });
}

function sel_goods(group_id){
    var murl = 'index.php?app=ecgoods&ctl=admin_shop_goods&act=index_all&group_id='+group_id;
    var url='index.php?app=desktop&act=alertpages&goto='+encodeURIComponent(murl);
    Ex_Loader('modedialog',function() {
        new finderDialog(url,{params:{url:'index.php?app=ecgoods&ctl=admin_group&act=set_goods&group_id='+group_id,name:'goods_id[]'},width:900,height:550,onCallback:function(rs){
                alert('添加了'+rs+'个商品')
                //if(!rs)return;
                //rs=JSON.decode(rs);
            }});
    });
}

function getChildGroup(parent_id,depth){
    var o = $(parent_id).parentNode.parentNode;
    var data_str = 'parent_id='+parent_id;
    var templates = '<td style="text-align:left" width="30%">\
                {$imgTree} {$group_name}</td>\
                <td width="10%">{$members} <a onclick="show_sel_goods(\'{$group_id}\');">\
                <{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}></a>\
                </td>\
                <td width="20%">{$update_time}</td>\
                <td width="10%"><a href="###" onclick="sel_goods({$group_id});">选择商品</a></td>\
                <td width="10%"><a style="display:{$display}" target="dialog::{width:700,height:355,title:\'编辑分组\'}" href="index.php?app=ecgoods&ctl=admin_group&act=edit&group_id={$group_id}">编辑</a></td>\
                <td width="10%"><a target="dialog::{width:700,height:355,title:\'添加子分组\'}" href="index.php?app=ecgoods&ctl=admin_group&act=edit&parent_id={$group_id}">添加子分组</a></td>\
                <td width="10%"><a onclick="return del_confirm(this);" href="index.php?app=ecgoods&ctl=admin_group&act=delete&group_id={$group_id}">删除</a></td>';
    
    var ajaxReq = new Request(
    {
        method : 'post',
        url : 'index.php?app=ecgoods&ctl=admin_group&act=getChildGroup',
        data: data_str,
        onSuccess : function(responseText) {
            //alert(responseText);
            if(responseText != 'null') {
                var imgTree;
                var obj = eval('(' + responseText + ')');
                for(var i=0;i<obj.length;i++){
                    new_node = templates.replace(/\{\$parent_id\}/g,obj[i].parent_id).replace(/\{\$group_id\}/g,obj[i].group_id).replace('{$group_name}',obj[i].group_name).replace('{$members}',obj[i].goods_count).replace('{$update_time}',obj[i].create_time).replace('{$op_user}',obj[i].op_user);
                    
                    if(parseInt(obj[i].goods_count)==0) {
                        new_node = new_node.replace('<{img align="absmiddle" src="bundle/zoom_btn.gif" app="desktop"}>','');
                    }
                    
                    //替换节点图标
                    if(obj[i].child_count>0) {
                        imgTree = '<span id="'+obj[i].group_id+'" class="imgTree tree_close" onclick="clickTree(this,'+(depth+1)+');"> &nbsp;&nbsp; </span>';
                    }else{
                        imgTree = '<span class="imgTree tree_open"> &nbsp;&nbsp; </span>';
                    }
                    for(var j=1;j<=depth;j++){
                        imgTree = '　　'+imgTree;
                    }
                    new_node = new_node.replace('{$imgTree}',imgTree);
                    
                    var e = new Element('tr');
                    e.set('depth',depth+1);
                    e.set('id','tr'+obj[i].group_id);
                    e.set('class','provice-bg');
                    e.set('html',new_node);
                    e.inject(o, 'after');
                }
            }
        },
        onFailure : function() {}
    });
    ajaxReq.send();
}

function show_members(murl){
    murl = 'index.php?app=taocrm&ctl=admin_member_report&act=index'+murl;
    var url='index.php?app=desktop&act=alertpages&goto='+encodeURIComponent(murl);
    Ex_Loader('modedialog',function() {
        new finderDialog(url,{width:1000,height:660});
    });
}


</script>

