<style>
.points { font-weight:bold; font-family:Tahoma, Geneva, sans-serif;}
label {cursor:pointer;}
</style>

<form method="POST" action="index.php?app=taocrm&ctl=admin_points_review&act=save" class="tableform" id="form_points_log">
    
    <{input name="member_id" value=$member_id type="hidden" }>

<div class="">
<table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
        <th><{t}>客户名：<{/t}></th>
        <td><{$member.account.uname}></td>
    </tr>
    <tr>
        <th><{t}>姓名：<{/t}></th>
        <td>
            <{$member.contact.name}>
            (<{$member.contact.phone.mobile}>)
        </td>
    </tr>
    </table>
</div>

<div class="division">
<table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
        <th><{t}>总积分：<{/t}></th>
        <td <{if($global_points!=$log_points)}>style="color:red"<{/if}>><{$global_points}></td>
    </tr>
    <tr>
        <th><{t}>类型积分：<{/t}></th>
        <td <{if($member_points!=$log_points)}>style="color:red"<{/if}>><{$member_points}></td>
    </tr>
    <tr>
        <th><{t}>店铺积分：<{/t}></th>
        <td <{if($shop_points!=$log_points)}>style="color:red"<{/if}>><{$shop_points}></td>
    </tr>
    <tr>
        <th><{t}>积分日志：<{/t}></th>
        <td><{$log_points}></td>
    </tr>
    <tr>
        <td colspan=2 style="color:red;text-align:center;">
        * 校对是以积分日志为准，修正其它积分数值
        </td>
    </tr>
    </table>
</div>
</form>
<{area inject='.mainFoot'}>
<div class="table-action">
    <{button type="button" label="校对" id="member_points-form-submit"}>
    <div id="is_ok" style="display:none;">
        <{img src="ok.png" align="absmiddle" }>
        该客户的积分可能不需要校对，如果需要增减积分，请使用“积分调整”。
    </div>
</div>

<{/area}>

<script>
(function(){

    var has_error = '<{$has_error}>';
    var log_points = '<{$log_points}>';

    var _form = $('form_points_log');
    var btn = $('member_points-form-submit');
    
    if(has_error=='N'){
        btn.hide();
        $('is_ok').show();
    }

    _form.store('target',{
        onSuccess:function(response){
            var hash_res_obj = JSON.decode(response);
            if (hash_res_obj.success != undefined && hash_res_obj.success != "")
            {
                try{
                    var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                }catch(e){}
                
                if(_dialogIns)
                {
                    _dialogIns.close();
                    finderGroup['<{$finder_id}>'].refresh();
                }
            }
            
        }
    });

    btn.addEvent('click',function(){
        _form.fireEvent('submit',{stop:$empty});
        //btn.set('disabled','disabled');
    });
    
})();
</script>
