<app>
    <name>积分管理系统</name>
    <main_app exclusion="false">false</main_app>
    <description>积分管理系统</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>0.1</version>
    <license>shopex license</license>
    <parent_model_class>dbeav_model</parent_model_class>
    <optional app="dev">开发者工具</optional>

	<depends>
        <app>desktop</app>
        <app>ecorder</app>
	</depends>
</app>
