<form name='openapiForm' method='post' action='index.php?app=openapi&ctl=admin_measurement&act=result'>
    <input type="hidden" name="method1" value="<{$post['apiName']}>">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class='tableform'>
        <tr>
            <th>接口：</th>
            <td><{$post['apiName']}></td>
        </tr>
        <tr>
            <th>接口说明：</th>
            <td><{$description['name']}></td>
        </tr>
        <tr>
            <th>接口描述：</th>
            <td><{$description['description']}></td>
        </tr>
        <tr>
        <th>系统级参数：</th>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <th>返回格式：</th>
                        <td><select name='data_format'><option value='json'>json</option><option value='xml'>xml</option></select></td>
                    </tr>
                    <tr>
                        <th style='color:#F60;'><em style='padding:0 5px 0 0'>*</em>标识：</th>
                        <td><input type = "text" name="flag"></td>
                    </tr>
                    <tr>
                        <th style='color:#F60;'><em style='padding:0 5px 0 0'>*</em>秘钥：</th>
                        <td><input type = "text" name="token"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>应用级参数：</th>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <{foreach from=$required_parameter item=item key=key}>
                        <{if $item['type'] === 'array'}>
                        <{else}>
                            <tr>
                                <th <{if $item['required'] == 1}>style="color:#F60;"<{/if}>>
                                     <{if $item['required'] == 1}>*<{/if}><{$item['name']}>：
                                </th>
                                <td><input type = "text" name = "<{$key}>" ></td>
                            <tr>
                        <{/if}>
                    <{/foreach}>
                    <{if $post['apiName'] == 'taocrm.posorder.add'}>
                        <tr>
                            <th style="color:#F60;">*订单明细(json)：</th>
                            <td><textarea name = "order_items" style="width: 167px; height: 80px;"></textarea></td>
                        <tr>
                    <{/if}>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2"><div class="table-action">
                <{button label='提交' type='button' id='openapi-btn'}>
            </div></td>
        </tr>

        </table>
</form>

<script language="javascript" type="text/javascript">
$('openapi-btn').addEvent('click',function() {
    new Request.HTML({
        url:'index.php?app=openapi&ctl=admin_measurement&act=result',
        method:'post',
        update:$('resultarea'),
        data:this.form,
    }).send();
});

</script>