<{foreach from=$_input.items item=item}>
<div class="row">
 <div class='row-line'>
    <div class="span-auto">
    	<span class="opt"><{img app="desktop" src="bundle/delecate.gif"  onclick="this.getParent('.row').dispose();" }></span>
    </div>
    <div class="span-auto">
    <{assign var="id" value=$item[$_input.idcol]}>
    <input type="hidden" name="<{$_input.name}>[]" item_id="<{$item[$_input.idcol]}>" value="<{$item[$_input.idcol]}>" />
	    <{foreach from=$_input._textcol item=_key}>
	    	<{$item[$_key]}>
	    <{/foreach}>
    </div>
    <{if $_input.view}>
        <{include file=$_input.view app=$_input.view_app}>
        <{$env.capture.listBody}>
    <{/if}>
  </div>
</div>
<{/foreach}>
