<div class="tableform">
    <div class="division" style="border:none;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th><{t}>应用类型<{/t}></th>
                <td>
                   <{$data.app_type}>
                </td>
            </tr>
            <tr>
                <th><{t}>应用名称<{/t}></th>
                <td>
                    <{$data.app_name}>
                </td>
            </tr>
            <tr>
                <th><{t}>应用描述<{/t}></th>
                <td>
                	<{$data.app_desc}>
                </td>
            </tr>
            <tr>
                <th><{t}>绑定店铺<{/t}></th>
                <td><{$data.shop_name}></td>
            </tr>
            <tr>
                <th><{t}>店铺地址<{/t}></th>
                <td><{$data.website}></td>
            </tr>
            <tr>
                <th><{t}>主旺旺号<{/t}></th>
                <td><{$data.seller_nick}></td>
            </tr>
        </table>
    </div>
</div>


