<!--default
<div style="height:320px;overflow:hidden" class="gridlist">
	<iframe frameborder="0" src="?app=taocrm&ctl=admin_analysis_sales&act=chart_view&type=volume&chart_type=default" scrolling="no" width="100%" height="100%"></iframe>
</div>-->
line
<div style="height:220px;overflow:hidden" class="gridlist">
	<iframe frameborder="0" src="?app=taocrm&ctl=admin_analysis_sales&act=chart_view&chart_type=line" scrolling="no" width="100%" height="100%"></iframe>
</div>
column
<div style="height:220px;overflow:hidden" class="gridlist">
	<iframe frameborder="0" src="?app=taocrm&ctl=admin_analysis_sales&act=chart_column&chart_type=column" scrolling="no" width="100%" height="100%"></iframe>
</div>
pie
<div style="height:220px;overflow:hidden" class="gridlist">
	<iframe frameborder="0" src="?app=taocrm&ctl=admin_analysis_sales&act=chart_pie&chart_type=pie" scrolling="no" width="100%" height="100%"></iframe>
</div>