<link href="http://g.alicdn.com/sj/dpl/1.0.0/css/sui.min.css" rel="stylesheet">
<script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.0.0/js/sui.min.js"></script>

<div style="padding:20px;">

    <ul class="sui-nav nav-tabs nav-large nav-primary">
        <li class="active"><a>设置系统版本</a></li>
        <li><a href="index.php?app=ecorder&ctl=admin_download&act=order">下载订单</a></li>
        <li><a href="index.php?app=ecorder&ctl=admin_download&act=goods2">下载商品</a></li>
        <li><a href="index.php?app=taocrm&ctl=admin_order_import">导入ECStore订单</a></li>
    </ul>

    <form class="sui-form form-horizontal" action="index.php?app=ecorder&ctl=admin_debug" method="post" id="servingForm">
        <div class="control-group">
            <label class="control-label">选择版本：</label>
            <div class="controls">
            <select class="input-medium " id="version_code" name='version_code'>
                <option value="Base_Ver">基础版</option>
                <option value="High_Ver">企业版</option>
                <option value="HighAll_Ver">企业版(直销)</option>
                <option value="Pro_Ver">旗舰版</option>
            </select>
            
            <button type="button" id="save_code" class="sui-btn btn-primary">保存</button>
        </div>
        
    </form>
    
    <form class="sui-form form-horizontal" action="index.php?app=ecorder&ctl=admin_debug&act=get_tb_refunds" method="post" id="servingForm">
        <div class="control-group">
            <button type="submit" class="sui-btn btn-primary">下载退款单</button>
        </div>
    </form>
    
    <form class="sui-form form-horizontal" action="index.php?app=ecorder&ctl=admin_debug&act=reg" method="post" id="">
        <div class="control-group">
            <label class="control-label">证书节点：</label>
            <div class="controls">
                <button id="save_code" type="submit" class="sui-btn btn-primary">注册</button>
            </div>
        </div>
    </form>
    
    <form class="sui-form form-horizontal" action="index.php?app=ecorder&ctl=admin_debug&act=reg" method="post" id="">
        <div class="control-group">
            <label class="control-label">执行命令：</label>
            <div class="controls">
                <button onclick="window.open('<{$cmd_url.kvrecovery}>');" type="button" class="sui-btn btn-primary">kv重建</button>
                <button onclick="window.open('<{$cmd_url.update}>');" type="button" class="sui-btn btn-primary">update</button>
            </div>
        </div>
    </form>

</div>

<script>
$('save_code').addEvent('click',function(event){
        $('servingForm').fireEvent('submit',new Event(event));
    });
    
$('servingForm').store('target',{
    onSuccess:function(response){    
        //alert(response)
    }
});
</script>
